{% extends 'base.html.twig' %}
{% block title %}Applicant Dashboard{% endblock %}

{% block body %}
    <body>
      <div id='applicant-application'></div>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/applicantReport.css">
      <script src="../../bundle/vendor.js"></script>
      <script src="../../bundle/js/applicantReport.bundle.js"></script>
    </body>
{% endblock %}
