{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h3 class="header1">Thanks for completing the application!</h3>
  <br>
  <p class="header4">You can close this window now. The property manager that sent this will contact you on the status of your application once he or she has reviewed it. In the meantime, sit back and relax.</p>
  <br /><br />
  <br /><br />
</div>
<script>
  function logout() {
    window.location.href = '/'
  }
</script>
{% endblock %}
