{% extends 'base.html.twig' %}
{% block title %}Tenant Signup{% endblock %}

{% block body %}
    <body>
      <div id='applicant-registration'></div>
      <div id='square'></div>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/applicantRegistration.css">
      <script src="../../bundle/vendor.js"></script>
      <script async src="../../bundle/js/applicantRegistration.bundle.js"></script>
    </body>
{% endblock %}
