<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

  <form method="POST" action={{ yodleeFastlinkUrl }}>
    <input type="text" style="display: none" name="app" value="10003600">
    <input type="text" style="display: none" name="rsession" value={{ ownerSessionToken }}>
    <input type="text" style="display: none" name="token" value={{ ownerAccessToken }}>
    <input type="text" style="display: none" name="redirectReq" value="true" />
    <input type="text" style="display: none" name="extraParams" value={{ callback }}>
    <input type="submit" name="linkAccount" value="Link Account">
  </form>

</body>

</html>