<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:title' content='Finret | Find Housing Fast With Professional Help' />
    <meta name='twitter:image' content='https://finret.com/img/finret_logo.png' />

    <!-- open graph meta -->
    <meta property='og:url' content='https://www.finret.com' />
    <meta property='og:title' content='Finret | Find Housing Fast With Professional Help' />
    <meta property='og:description' content='Instant easy tenant screening service, Professional rental assistance is now a thing.' />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='https://finret.com/img/finret_logo.png' />

    <!-- SEO meta -->
    <meta name='description' content='Professional rental assistance is now a thing. Get instant tenant screening service providing credit reports, background checks, eviction history, and financial verification to get into the house you need.' />
    <meta name='keywords' content='financial, background, credit, criminal, history, education, check, tenant, leasing, income, verification, comprehensive, consultation, assistance, education' />
    <meta name='copyright' content='Content on this site belongs to Finret Inc, a Delaware Corporation.' />

    <title>
      {% block title %}
        Finret | Find Housing Fast With Professional Help
      {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicons/favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
