<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>{{ include('conditional_report_not_ready.css.twig') }}</style>
    <title>You were too quick!</title>
</head>
<body>
<div class="exceptions">
    <div class="error-div">
        <img class="error-img" src="../../img/finret_logo.png"></img>
    </div>
    <h4>We're still working on your reports! Please refresh the page in a couple minutes.</h4>
    <p>If you've been waiting more than 10 minutes, please contact <a href="mailto:support@finret.com">support@finret.com</a>.</p>
    <button onclick="refresh()">Refresh</button>
</div>
<script>
  function refresh() {
    window.location.reload();
  }
</script>
</body>
</html>