{% extends 'base.html.twig' %}
{% block title %}Conditional Report{% endblock %}

{% block body %}
    <body>
      <div id='conditional-report'></div>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/conditionalReport.css">
      <script src="../../bundle/vendor.js"></script>
      <script async src="../../bundle/js/conditionalReport.bundle.js"></script>
    </body>
{% endblock %}
