{% extends 'base.html.twig' %}
{% block title %}Report Details{% endblock %}

{% block body %}
    <body>
      <div id='report-details'></div>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/reportDetails.css">
      <script src="../../bundle/vendor.js"></script>
      <script async src="../../bundle/js/reportDetails.bundle.js"></script>
    </body>
{% endblock %}
