<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../../css/error_page.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:100,300,400" rel="stylesheet">
</head>
<body>
  <div class="errorPage">
    <div class="errorText">
      <p>{{error_message}}</p>
    </div>
    <div id="errorForm">
      <form action={{tenantPinUrl}} method="post">
        <input id="tenantLoginModal" name="code" class="UniqueCodeTextLogin" type="text" placeholder="Enter unique code">
        <input class="forTenantsBtn" id="authPin" type="submit">
      </form>
    </div>
    <div id="backToHome">
      <a href={{link}}>Go back home</a>
    </div>
  </div>
</body>
</html>
