{% extends 'base.html.twig' %}
{% block title %}A basic to-do app {% endblock %}

{% block body %}
    <body>
      <div id='home'></div>
      <script src="../../bundle/vendor.js"></script>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/home.css">
      <script async src="../../bundle/js/home.bundle.js"></script>
    </body>
    <!-- End Facebook Pixel Code -->
{% endblock %}
