{% extends 'base.html.twig' %}
{% block title %}Clickable Report Demo{% endblock %}
{% block body %}
  <body>
    <div id='interactive-demo'></div>
    <link rel="stylesheet" type="text/css" href="../../bundle/css/interactiveDemo.css">
    <script src="../../bundle/vendor.js"></script>
    <script async src="../../bundle/js/interactiveDemo.bundle.js"></script>
  </body>
{% endblock %}
