{% extends 'base.html.twig' %}
{% block title %}Property Manager Signup{% endblock %}

{% block body %}
    <body>
      <div id='management-registration'></div>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/managerRegistration.css">
      <script src="../../bundle/vendor.js"></script>
      <script async src="../../bundle/js/managementRegistration.bundle.js"></script>
      <script>
        window.intercomSettings = {
          app_id: "hb6ioz0y"
        };
      </script>
      <script>
        (function(){
          var w=window;
          var ic=w.Intercom;
          if(typeof ic==="function"){
            ic('reattach_activator');
            ic('update',w.intercomSettings);
          } else {
            var d=document;
            var i=function(){i.c(arguments);};
            i.q=[];
            i.c=function(args){i.q.push(args);};
            w.Intercom=i;
            var l=function(){
              var s=d.createElement('script');
              s.type='text/javascript';
              s.async=true;
              s.src='https://widget.intercom.io/widget/hb6ioz0y';
              var x=d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s,x);
            };
            if(w.attachEvent){
              w.attachEvent('onload',l);
            }else{
              w.addEventListener('load',l,false);
            }
          }
        })();
      </script>
    </body>
{% endblock %}
