{% extends 'base.html.twig' %}
{% block title %}Manager Dashboard{% endblock %}

{% block body %}
    <body>
      <div id='management-dashboard'></div>
      <div id='square'></div>
      <link rel="stylesheet" type="text/css" href="../../css/sqpaymentform-basic.css">
      <link rel="stylesheet" type="text/css" href="../../bundle/css/managementDashboard.css">
      <script src="../../bundle/vendor.js"></script>
      <script async src="../../bundle/js/managementDashboard.bundle.js"></script>
    </body>
{% endblock %}
