{% extends 'base.html.twig' %}
{% block title %}Finret | Tenant Screening Software | Credit, Eviction, and Background Reports{% endblock %}

{% block body %}
    <body>
      <div id='password-reset'></div>
      <link rel="stylesheet" type="text/css" href="../../bundle/css/passwordReset.css">
      <script src="../../bundle/vendor.js"></script>
      <script src="../../bundle/js/passwordReset.bundle.js"></script>
    </body>
{% endblock %}
