{% extends 'base.html.twig' %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">SilverSpoon</a>
                <div class="nav-collapse collapse">
                    <ul class="nav row">
                        <li class="span1"><a href="#order">Order</a></li>
                        <li class="span1"><a href="#contact">Contact</a></li>
                        <li class="span1"><a href="#mission">Mission</a></li>
                        <li class="span1"><a href="#team">Team</a></li>
                        <li class="span5"></li>
                        <li class="dropdown span1" style="float: right">
                            <a href="#" class="dropdown-toggle span5" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/mission">Mission</a></li>
                                <li><a href="/founders">Founders</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="/partners">Partners</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:60px">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <!-- Example row of columns -->
        <div class="row">
            <div class="span3">
                <div class="" style="height: 500px;width: 100%">
                    <form action="{{ path('login') }}" method="post">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" />

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button type="submit">login</button>
                    </form>
                </div>
            </div>
            <div class="span6">
                <h2>Menu</h2>
                <p>Locally sourced, sustainably harvested.  </p>
            </div>
            <div class="span3">
                <h2>Cart</h2>
                <div class="hero-unit" style="height: 500px">
                </div>
            </div>
            <hr>


        </div>
    </div>
    <footer>
        <p> Breh 2016</p>
    </footer>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; padding-top: 60px;  padding-bottom: 40px; }
</style>
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>
{% endblock %}
