{{ form_start(form) }}
    {{ form_row(form.username, {'label': 'Email'}) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.unitNumber) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

<button type="submit">Register!</button>



<br/><br/><br/><br/><br/><br/><br/>THIS PAGE IS UNDERGOING CONSTRUCTION
{{ form_end(form) }}