.homepage-images {
  padding: 50px 0 0 0;
}

.landlord-header {
  color: #134144;
  letter-spacing: 1px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  margin-bottom: -1em;
}

.homepage-segment-headers {
  padding-top: 5vh;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  font-size: 18px !important;
  color: #134144 !important;
}

.homepage-segment-paragraph {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  color: #333333;
}

.homepage-renter-button {
  font-size: 18px;
  text-transform: uppercase !important;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 14px !important;
  width: 80% !important;
  height: 4em !important;
  line-height: 130% !important;
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.4);
}

.request-consultation-button {
  font-size: 18px;
  text-transform: uppercase !important;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif;
  font-weight: 400 !important;
  height: 4em !important;
  line-height: 130% !important;
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.4);
  width: 75%;
}

.intro-button {
  font-size: 18px !important;
  text-transform: uppercase !important;
  line-height: 130% !important;
  letter-spacing: 1px !important;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  width: 100% !important;
  height: 4em !important;
}

.homepage-landlord-container-footer {
  background-color: #144b59;
}

.homepage-landlord-container {
  padding-bottom: 7vh !important;
  padding-top: 8vh !important;
}

.homepage-segment-footer {
  color: white;
  padding-top: 5vh;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
}

.segment-footer {
  margin: 6vh 0em 0em !important;
  padding: 5em 0em !important;
  background-color: #144b59 !important;
}

.homepage-segment-paragraph-footer {
  color: #cdcdcd;
  text-align: center;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: "Open Sans";
  font-size: 14px;
  height: 1vh;
}

.homepage-landlord-separator {
  margin: auto;
  margin-top: 5vh;
  border-top: 2px solid #134144;
  width: 45%;
  justify-content: center !important;
  text-align: center;
}

.footer-icons-wrapper {
  padding-top: 5vh;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.footer-icons {
  margin-left: 2em;
}

.copyright-footer {
  margin-top: -4em !important;
}

.text-align-center {
  text-align: center !important;
}

.finret-logo {
  font-family: "Arvo", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: normal;
  color: #144b59;
}

.homepage-header {
  font-size: 36px !important;
  letter-spacing: 1px !important;
  line-height: 1.7;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  color: #144b59 !important;
  text-align: center !important;
  width: 100%;
  /* text-transform: uppercase !important; */
}

.homepage-header-2 {
  font-size: 26px !important;
  font-weight: normal !important;
  letter-spacing: 1px !important;
  line-height: 30px !important;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  color: #144b59 !important;
  text-align: center !important;
}

.padding-header-2 {
  padding-bottom: 6vh !important;
  padding-top: 5vh !important;
}

.padding-header {
  padding-bottom: 5.5vh !important;
}

.reviews-header {
  font-size: 26px !important;
  font-weight: normal !important;
  letter-spacing: 1px !important;
  line-height: 30px !important;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  text-align: center !important;
  text-shadow: 1px 0px 6px rgba(100, 100, 100, 0.5) !important;
  margin-top: 8vh !important;
}

.vertical-adjust-renter {
  margin-top: 5vh !important;
  min-height: 5vh !important;
}

.red {
  color: #6b2520;
}

.finret-blue {
  color: #144b59 !important;
}

.menu-item-nav-bar {
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  transition: border 0.3s ease-out !important;
}

.menu-item-nav-bar:hover {
  cursor: pointer;
  background-color: rgba(149, 149, 150, 0.2) !important;
}

.margin-left {
  margin-left: 20em !important;
}

.contact-footer {
  width: 100%;
  text-align: center;
  margin: 5vh auto;
}

.faq-questions {
  color: #2f2f2f !important;
  font-size: 1.14285714rem;
  font-weight: 400;
  line-height: 180%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 7vh;
  padding-bottom: 2vh;
}

.homepage-faq-container {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-size: 28px;
  font-weight: 700 !important;
  letter-spacing: 1px;
  line-height: 100%;
  color: #144b59;
  padding-top: 7vh !important;
}



.padding-top {
  padding-top: 5vh !important;
}

.faq-paragraph {
  font-weight: 400;
  color: #2f2f2f !important;
  font-size: 1.14285714rem;
  font-weight: 400;
  line-height: 150%;
}

.faq-separator {
  margin: auto;
  margin-top: 5vh;
  border-top: 2px solid #134144;
  width: 80%;
  justify-content: center !important;
  text-align: center;
}

.intro-separator {
  border-top: 2px solid #144b59;
  width: 7vw;
  text-align: center;
  margin-bottom: 3vh;
  justify-content: center !important;
  margin: auto 0;
  display: flex;
}

.homepage-greenlockbar-container {
  background-color: #8cd4d9;
  padding: 5vh 0 5vh 0 !important;
}

.greenlock-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: #308a8f;
}

.renter-intro {
  color: white;
  background: linear-gradient(rgba(26, 35, 36, 0.32), rgba(26, 35, 36, 0.32)),
    url("https://s3.us-east-2.amazonaws.com/finret-image-cdn/img/homepage/renterslogin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landlord-intro {
  background: linear-gradient(rgba(26, 35, 36, 0.32), rgba(26, 35, 36, 0.32)),
    url("https://s3.us-east-2.amazonaws.com/finret-image-cdn/img/homepage/landlords2.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-content {
  margin: 20vh auto;
  vertical-align: middle;
}

.jumbotron-spacing {
  padding-top: 5vh !important;
}

.jumbotron-font {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 120%;
}

.intro-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin: 0 auto;
  text-align: center;
}

.intro-header {
  text-align: center;
}

.button-intro {
  margin-top: 5vh !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-size: 12px !important;
}

.intro-textbox {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  letter-spacing: 1px;
  font-weight: 400;
  width: 100%;
  color: #2f2f2f !important;
  font-size: 1.14285714rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.padding-bottom {
  padding-bottom: 6vh !important;
}

.textbox-renter {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  letter-spacing: 1px;
  font-weight: 400;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0 auto;
  color: #2f2f2f !important;
  font-size: 1.14285714rem;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 2vh;
  margin: 0 2em 0 2em;
}


.renter-grid {
  background-image: url("https://s3.us-east-2.amazonaws.com/finret-image-cdn/img/homepage/renterswide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 !important;
}

.grid-container-four-box {
  padding: 0 !important;
  margin: 0 !important;
}

.renter-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 2vh !important;
  padding-bottom: 7.5vh !important;
  margin: 5vh auto;
}

.margin-right {
  margin: 2em 0 0 3em !important;
}

.review-container {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 8vh !important;
}

.user-review-container {
  border: 2px solid #134144;
  background-color: white;
  text-align: center !important;
  margin: 2vh 2vw 10vh 2vw !important;
  padding-bottom: 5vh !important;
}

.user-review-content {
  margin: 2em 2em 5em 2em;
}

.text-testimonial {
  font-size: 1em;
  font-style: italic;
  color: #888888;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 180%;
}

.reviewer-name-renter {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #6b2520;
}

.reviewer-name-landlord {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #134144;
}

.content-card {
  color: white !important;
}

.card-sizing {
  text-align: center;
  padding-bottom: 5vh !important;
}

.card-sizing:hover {
  opacity: .8;
}

.color1 {
  background-color: #09252c;
}

.color2 {
  background-color: #0e3842;
}

.color3 {
  background-color: #144b59;
}

.color4 {
  background-color: #4e7782;
}

.description-card-header {
  color: white !important;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
  line-height: 100%;
  font-size: 16px;
  padding-top: 4vh;
}

.description-card {
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  margin: 0 auto;
  width: 80% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
}

.jumbotron-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  text-align: center !important;
}

.ui.grid.margin-0-grid {
  margin: 0;
  padding:0
}

.margin-0-grid {
  margin: 0 !important;
}

.remove-padding {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.remove-decoration {
  color: inherit;
}

.consultation-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.consultation-footer-content {
  background-color: #144b59!important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.5em !important;
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
}

/* Tablet Styles */
@media only screen and (min-width: 730px) and (max-width: 960px) {
  .ui.form .field>label {
    font-size: 12px !important;
  }
}

.ui.basic.teal.button:hover {
  background-color: rgba(149, 149, 150, 0.2) !important;
}

.ui.card.review-card-one {
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif !important;
  background-color: #F5F5F5;
  color: #666666;
  line-height: 1.9 !important;
}


.gray-background {
  background-color: #F5F5F5;
}

.padding2em {
  padding: 2em !important;
}

.padding-reviews {
  padding: 1.5em 0 1em 0 !important;
}

.services-pricing-font {
  font-family: "Brandon Grotesque", "Open Sans", sans-serif !important;
  font-weight: 400;
  color: #2f2f2f !important;
  font-size: 1.14285714rem;
  font-weight: 400;
  line-height: 150%;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.ui.grid.margin-bottom {
  margin-bottom: 5em;
}

.ui.teal.button.padding-header {
  margin: 1em 0 2em 0;
  padding-top: 1.5em;
}

@media only screen and (min-width: 313px) and (max-width: 756px) {
  .ui.teal.button.padding-header {
    width: 75%;
  }

  .remove-padding-pricing-mobile {
    padding-top: 0 !important;
  }
}

.renta-image {
  background: linear-gradient(rgba(26, 35, 36, 0.32), rgba(26, 35, 36, 0.32)),
    url("https://res.cloudinary.com/djubcegxh/image/upload/v1568860847/rentaScreenShot_nl8rk9.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  background-size: 100%;
  padding-bottom: 40%;
}

.renta-image:hover {
  background: linear-gradient(rgba(26, 35, 36, 0), rgba(26, 35, 36, 0)),
    url("https://res.cloudinary.com/djubcegxh/image/upload/v1568860847/rentaScreenShot_nl8rk9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fontsize18 {
  font-size: 18px;
  width: 90%;
}

.smaller-button-header {
  width: 50%;
}

.ui.grid>.row.remove-row-padding {
  padding: 0;
}

.padding-introtext {
  padding-top: 1em;
  width: 90%;
}

@media only screen and (min-width: 313px) and (max-width: 756px) {
  .mobile-text {
    font-size: 13px;
  }
}

.ui.bottom.center.popup {
  font-size: 18px;
}
.ui.top.left.popup {
  font-size: 18px;
}
